[
  { "seconds": 518400, "emoji": ":-1:" },
  { "seconds": 82800, "emoji": ":index_pointing_at_the_viewer:" },
  { "seconds": 79200, "emoji": ":skull:" },
  { "seconds": 75600, "emoji": ":hankey:" },
  { "seconds": 68400, "emoji": ":clown_face:" },
  { "seconds": 64800, "emoji": ":scream:" },
  { "seconds": 61200, "emoji": ":face_with_symbols_over_mouth:" },
  { "seconds": 57600, "emoji": ":rage:" },
  { "seconds": 54000, "emoji": ":triumph:" },
  { "seconds": 50400, "emoji": ":angry:" },
  { "seconds": 46800, "emoji": ":unamused:" },
  { "seconds": 43200, "emoji": ":sleeping:" },
  { "seconds": 39600, "emoji": ":yawning_face:" },
  { "seconds": 36000, "emoji": ":grimacing:" },
  { "seconds": 32400, "emoji": ":weary:" },
  { "seconds": 28800, "emoji": ":pensive:" },
  { "seconds": 25200, "emoji": ":face_with_raised_eyebrow:" },
  { "seconds": 21600, "emoji": ":slightly_frowning_face:" },
  { "seconds": 18000, "emoji": ":confused:" },
  { "seconds": 14400, "emoji": ":no_mouth:" },
  { "seconds": 10800, "emoji": ":neutral_face:" },
  { "seconds": 7200,  "emoji": ":melting_face:" },
  { "seconds": 3600,  "emoji": ":slightly_smiling_face:" },
  { "seconds": 0,     "emoji": ":smiley:" }
]
